.invitation {
  &-email {
    display: block;

    &:before {
      content: '';
      width: 100%;
      height: 1em;
      display: inline-block;
    }
  }

  &-password {
    display: block;

    &:after {
      content: '';
      width: 100%;
      height: 1.5em;
      display: inline-block;
    }
  }
}
