@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext");

$email-main-color: #2a41e8;
$email-background-color: #f9f9f9;

body {
  margin: 0;
  padding: 0;
}

.email {
    margin: auto;
    width:600px;

  &-header {
    background-color: $email-background-color;

    td {
      margin: 30px 0 30px 0;
      display: block;
      text-align: center;
      font: {
        family: 'Nunito', sans-serif;
        size: 26pt;
        weight: normal;
      }
      color: $email-main-color;
    }
  }

  &-content {
    line-height: 1.8em;

    td {
      padding: 35px 30px 0 30px;
      font: {
        family: 'Montserrat', sans-serif;
        size: 14pt;
      }
    }

    &__message {
      &:after {
        content: '';
        width: 100%;
        height: 1em;
        display: inline-block;
      }
    }

    &__more-about {
      &:after {
        content: '';
        width: 100%;
        height: 1.5em;
        display: inline-block;
      }
    }

    &__team{
      padding-bottom: 50px;

      .cheers {
        display: block;
      }
    }
  }

  &-footer {
    background-color: $email-background-color;
    margin: 10px 0 10px 0;
    text-align: center;

    td {
      h6 {
        font: {
          size: 14pt;
          weight: normal;
          family: 'Nunito', sans-serif;
        }
      }
    }
  }
}

.email-main-color {
  color: $email-main-color;
}

.email-link {
  color: $email-main-color;
  text-decoration: none;
}
