.container
  .row
    .col-md-12
      .error-template
        h1
          |  Oops!
        h2
          |  500 Internal Server Error
        .error-details
          |  Sorry, it`s me, not you! Something went wrong! We`re looking to see what happened. 
        .error-actions
          = link_to "Go BACK!", root_path, class: "btn btn-primary btn-lg"