.company-statistics {
  @media (max-width: 1600px) and (min-width: 1365px) {
    .fun-fact:last-child {
      display: flex !important;
    }
  }

  .fun-fact-icon {
    background-color: rgba(54, 189, 120, 0.07);
    i {
      color: rgb(54, 189, 120);
    }
  }
  .fun-fact:last-child {
    .fun-fact-icon {
      background-color: rgba(239, 168, 15, 0.07);
      i {
        color: rgb(239, 168, 15);
      }
    }
  }
}

