.comments-block {
  .comments-header {
    padding-top: 40px;
    padding-bottom: 20px;
    h3 {
      color: #2a41e8;
    }
  }
  .comment-author {
    margin-top: 10px;
    padding-top: 10px;
  }
  #new-comment-form {
    display: none;
  }
  .comment-text {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 12px 0px;
    color: #666;
    a {
      color: #666;
    }
    i:hover {
      color: #2a41e8;
    }
  }
  .submitted-time {
    font-size: 14px;
    color: #888;
    .time-ago {
      padding-right: 5px;
    }
  }
  .comment-destroy-icon {
    display: flex;
    justify-content: flex-end;
  }
  .reply-button {
    display: inline-block;
    cursor: pointer;
  }
}

.reply-comment-form {
  display: none;
  margin-bottom: 20px;
  padding-top: 40px;
  width: 100%;
}

.add-comment-block {
  padding-top: 30px;
  .add-comment-btn {
    background-color: #2a41e8;
    padding: 12px 20px;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
    i {
      padding-right: 5px;
    }
  }
}

.send-comment-btn {
  background-color: #2a41e8;
  padding: 7px 20px;
  border-radius: 4px;
  color: white;
  box-shadow: 0 4px 12px rgba(42, 65, 232, 0.15);
}

#comment-status {
  position: absolute;
  letter-spacing: 4px;
  margin-top: -33px;
}

#comment-status.warning {
  color: red;
}

#comment-status.success {
  color: green;
}

.simple-form {
  position: relative;
}
