.feedback{
  &-email {
    font-size: 22px;
  }
  &-message {
    font-size: 22px;
    text-indent: 1.5em;
  }
}

.new_feedback {
  padding-bottom: 40px;
}

.form-group {
  ::placeholder {
    opacity: 0.6;
    font-size: 14px;
  }
}
