// // Place all the styles related to the home controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/
#logo a {
  height: 42px;
  width: auto;
  top: 50%;
  position: relative;
  transform: translate3d(0, -50%, 0);
}
