$review-link-color: #767474;

@mixin link-margin {
  a {
    margin-left: 5px;
  }
}

.review{
  &-link {
    color: $review-link-color !important;
  }

  &-rating {
    .detail-material-outline-date-range {
      margin-left: 10px;
      display: inline-block;
      position: absolute;
      top: 32px;
    }
  }

  &-object {
    @include link-margin;
  }

  &-comment {
    margin-top: 15px;

    &__text {
      margin-top: 10px;
      font-size: 14pt;
      text-indent: 1.5em;
    }
  }
}

.review-form {
  &__ticket-link {
    @include link-margin;
  }
}
