// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// About page
.about-page {
  .about-first-line {
    padding-bottom: 30px;
  }
  .about-second-line {
    padding-bottom: 20px;
  }
  .about-text {
    padding-bottom: 50px;
    font-size: 18px;
    text-align: justify;
  }
  .about-block {
    text-align: justify;
    line-height: 30px;
    .about-list {
      .list-icon {
        padding-right: 10px;
      }
      li {
        list-style: none;
      }
    }
  }
  img {
    width: 100%;
  }
  .company-name {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 991px) {
  .about-page {
    .about-image-block {
      padding-bottom: 10px;
    }
  }  
}

.about-page, .services-page {
  .create-company-btn {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    a {
      font-size: 24px;
    }
  }
}

// Services page
.services-content {
  position: relative;
  .line {
    position: absolute;
    width: 30%;
    height: 2px;
    border-top: 1px solid #007bff;
  }
  .line-one {
    left: 15px;
  }
  .line-two {
    right: 15px;
  }
  .icon {
    color: #007bff;
    font-size: 28px;
    position: absolute;
    right: 50%;
    margin-right: -13px;
    top: -19px;
    transition: all 0.3s;
    :hover {
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }
}

.services-page {
  .services-img {
    padding-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .services-title {
    padding-bottom: 50px;
    font-size: 18px;
    text-align: justify;
    .company-name {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .services-items {
    padding-top: 40px;
    padding-bottom: 20px;
    .item {
      padding: 20px;
      border-left: 1px solid #007bff;
      border-right: 1px solid #007bff;
      border-bottom: 1px solid #0056b3;
      min-height: 290px;
      .item-title {
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 15px;
        letter-spacing: 1px;
        line-height: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
      .item-text {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;        
        text-align: center;
      }
    }
  } 
}

@media screen and (max-width: 990px) {
  .services-page {
    .services-items {
      .row-one {
        padding-bottom: 30px;
      }
      .item {
        min-height: 235px;
      }
    }
  }  
}

@media screen and (max-width: 767px) {
  .services-page {
    .services-items {
      .item {
        min-height: 270px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .services-page {
    .services-items {
      .item-three {
        padding-bottom: 30px;
      }
      .item {
        min-height: 200px;
      }
    }
  }
}
