$ticket-border-color: #58595C;

.ticket-form {
  margin-bottom: 15px;
}

.ticket_show {
  &-title {
    margin-bottom: 10px;

    &__span {
      padding-right: 2px;
      font-weight: bolder;
    }
  }

  &-place {
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 16pt;
  }

  &-description {
    &__title {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $ticket-border-color;
      font-weight: bolder;
    }

    &__body {
      margin: {
        left: 30px;
        bottom: 15px;
      }
      font-size: 16pt;
    }
  }
}
