$author-role-color: #808080;

.ticket-form {
  margin-bottom: 15px;

  ul.dropdown-menu li:first-child {
    display: none;
  }
}

.ticket-icons {
  padding-left: 15px;
}

.ticket-author {
  margin-left: 15px;
  display: flex;
  align-items: center;

  &__image {
    height: 95px;
    flex: 0 0 95px;

    img {
      border-radius: 50%;
    }
  }

  &__details {
    margin-left: 25px;

    h3 {
      font-size: 1.5em;
      line-height: 1.5;

      .role {
        margin-bottom: 15px;
        display: block;
        color: $author-role-color;
        font-size: 0.7em;
      }
    }
  }
}
