// Place all the styles related to the TicketSolutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: #E0E0E0;

.dashboard-headline {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
}

.icon-feather-check-square {
  font-size: 24px;

  &[value~="open"] {
   color: #666;
   }

  &[value~="resolved"] {
   color: #40b660;
   }
}

.delete-ticket-completion-icon {
  font-size: 22px;
  color: #666;

  &:hover {
    color: #dc3139;
  }
}

.green-ticket-completion-form-icon {
  color: #40b660 !important;
}

.complete-ticket-button {
  background-color: #40b660 !important;

  &:hover {
    background-color: #707070 !important;
    color: #fff !important;
  }
}

.ticket-icons {
  color: #707070;
  font-size: 20px;

  &:hover {
    color: #2a41e8;
  }
}

.nowrap-text {
  white-space: nowrap;
}

.ticket-completion {
  &__review {
    margin-top: 30px;

    .review-title {
      padding-top: 20px;
      border-top: 1px solid $border-color;

      .icon-feather-eye {
        padding-right: 10px;
        color: #2a41e8;
      }
    }

    .review-description{
      margin: {
        top: 20px;
        left: 30px;
      }

      .detail-material-outline-date-range {
        margin-left: 10px;
        display: inline-block;
        position: absolute;
      }
    }
  }
}
