// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.simple_form {
  abbr[title] {
    display: none;
    text-decoration: none;
  }

  label.required::after {
    content: '*'
  }
}

.parent-units {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  a, i {
    color: rgb(88, 89, 92);
    padding-right: 7px;
    &:hover {
      text-decoration: none;
      color: rgb(90,98,104);
    }
  }
}

.unit-page-header {
  border-bottom: 1px solid rgb(137, 139, 145);
  margin-bottom: 20px;
  i {
    padding-right: 10px;
  }
}

.unit-link {
  display: flex;
  justify-content: space-between;
  background-color: rgba(185, 216, 241, 0.6);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgb(137, 139, 145);
  &:hover {
    background-color: rgba(185, 216, 241, 0.9);
  }
  a {
    color: rgb(88, 89, 92);
    &:hover {
      color: rgb(90,98,104);
      text-decoration: none;
    }
  }
  .unit-name {
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 18px;
  }
  .unit-icons {
    display: flex;

    div {
      padding-left: 5px;
    }
  }
}



ul {
  list-style-type: none;
}
.nested-units {
  display: none;
}
.nested-units.active {
  display: block;
}
.unit-tree {
  padding-left: 0;
  .show-arrow {
    cursor: pointer;
    user-select: none;
  }
  .show-arrow::before {
    content: "\276F";
    display: inline-block;
    margin-right: 7px;
    transition: 0.3s;
  }
  .show-arrow-down::before {
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

