// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.input.radio_buttons.optional.user_is_admin {
  display: flex;
  flex-direction: column;
}
abbr[title] {
  text-decoration: none;
}
.container.main {
  margin-top: 80px;
}
label {
  margin-bottom: 0;
}
.form-group {
  margin-top: 25px;
}
.full-name {
  display: flex;
}

.sign-btn {
  padding-left: 8px;
  .btn {
    width: 95px;
  }
}
.back-btn {
  padding-left: 8px;
  .btn {
    width: 130px;
  }
}
nav
  .user-buttons {
    padding: 0;
    justify-content: flex-start;
  }


.user-form-cancel-btn {
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .sign-btn {
    padding-left: 0;
    .nav-sign-in-btn {
      margin-bottom: 5px;
    }
  }
}
