.email {
  &-main-color {
    color: #2a41e8 !important;
  }

  &-black-color {
    color: #343a40 !important;
  }
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: bolder !important;
}

span.normal {
  font-weight: normal !important;
}


.email-footer,
.email-header {
  &-background {
    background-color: #f9f9f9 !important;
  }
}

h4.mail-text  {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
